<div class="row no-gutters h100vh">
  <div class="col-md-5">
    <div class="container h-100">
      <div class="p-5 mx-md-4 h-100">
        <div class="row auth__div mx-auto">
          <div class="col-md-6 pl-0">
            <img src="assets/img/logofull.png" alt="Logo" class="img-fluid cursor" style="max-width: 220px">
          </div>
          <div class="col-md-6 text-md-right pr-0">
            <p class="text-secondary">Got an account? <span class="text-blue pl-2 cursor" routerLink="/login">Sign In</span></p>
          </div>
        </div>

        <div class="col-md-12 vertical-alignment">
          <div class="auth__div mx-auto w-100">
            <h4 class="font-weight-bold">Buy best sound quality
              beats online</h4>
            <p class="text-secondary pb-4">Create your free account in less than 5 minutes and start exploring creative beats.</p>
            <app-sign-up-input></app-sign-up-input>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7">
              <p class="text-secondary small">Need help? <span
                class="text-blue font-weight-bold cursor">Contact support</span></p>
            </div>
            <div class="col-md-5 text-md-right">
              <p class="text-secondary small cursor"><span>Privacy</span> <span class="px-2">|</span>
                <span>Terms</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 d-md-block d-none bg-signUp"></div>
</div>
