.showIcon {
  top: 25%;
  right: 3%;
}

.password-strength__div {
  width: 92px;
  height: 3px;
  background: #EBF3EA;
  border-radius: 2px;
}


.password-strength__four {
  background: #48B971;
}

.password-strength__three {
  background: #35F58E;
}

.password-strength__two {
  background: #EA8E12;
}

.password-strength__one {
  background: #dc3545;
}
