@import '~@angular/material/theming';

.btn {
  outline: none;
  height: 56px;
  -webkit-box-shadow: 0px 10px 22px 0px rgba(2, 28, 67, 0.22);
  -moz-box-shadow: 0px 10px 22px 0px rgba(2, 28, 67, 0.22);
  box-shadow: 0px 10px 22px 0px rgba(2, 28, 67, 0.22);
}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background-color: #41B9ED;
  color: #fff;
  border-color: #41B9ED;
}


.text-blue {
  color: #41B9ED;
}


.cursor {
  cursor: pointer;
}

.h100vh {
  height: 100vh;
}


.vertical-alignment {
  align-content: center;
  align-items: center;
  align-self: center;
  height: 88%;
  display: flex;
}

.auth__div {
  max-width: 526px;
}

input {
  min-height: 56px !important;
}


.spinner-grow {
  width: 1.5rem;
  height: 1.5rem;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #43B8ED !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #43B8ED !important;
}
